<div class="layout">

  <div class="content">

    <header class="header">

      <h1>📊 INVESTIGACIÓN DE OPERACIONES - PROYECTO</h1>

      <div class="user-container">
        <div class="user-icon">👤</div>

        <div class="user-dropdown">
          <div class="user-card">
            <h4>Juan Pablo Ceballos Ramirez</h4>
            <p>juan.ceballos2@utp.edu.co</p>
          </div>

          <div class="user-card">
            <h4>María Alejandra Cano</h4>
            <p>maria.cano2@utp.edu.co</p>
          </div>
        </div>
      </div>

    </header>

    <div class="cards-wrapper">

      <section class="cards">

        <div class="card">
          <div class="card-body">
            <div class="card-image">
              <img src="metodo grafico.png" alt="Método gráfico">
            </div>

            <div class="card-content">
              <h3>Método Gráfico</h3>
              <p>Visualiza la región factible y determina la solución óptima mediante la intersección de restricciones en un plano cartesiano.</p>

              <button routerLink="/graphical-method">
                Solucionar ahora
              </button>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="card-image">
              <img src="tabla-simplex.jpg" alt="Método simplex">
            </div>

            <div class="card-content">
              <h3>Método Simplex</h3>
              <p>Maximiza o minimiza funciones objetivo sujetas a restricciones lineales mediante el uso de variables de holgura y tablas de pivoteo.</p>
               <button routerLink="/simplex-method">
                Solucionar ahora
              </button>
            </div>
          </div>
        </div>

          <div class="card">
          <div class="card-body">
            <div class="card-image">
              <img src="metodo-dual.png" alt="Método simplex dual">
            </div>

            <div class="card-content">
              <h3>Método Dual</h3>
              <p>El enfoque Dual simplifica los problemas de maximización primal al resolver un problema de minimización relacionado, a menudo más fácil y estable.</p>
               <button routerLink="/dual-method">
                Solucionar ahora
              </button>
            </div>
          </div>
        </div>


      </section>

    </div>

  </div>

</div>